html {
  background: linear-gradient(#434343,#cdcdcd) no-repeat transparent;
  box-sizing: border-box;
  color: #000;
  overflow-y: scroll;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

fieldset {
  border: 1px solid #CDCDCD;
  border-radius: .3em;
  margin: .3em 0;
  padding: .3em;
}

address, caption, cite, code, dfn, em, strong, th, var, optgroup {
  font-style: inherit;
  font-weight: inherit;
}

del, ins {
  text-decoration: line-through;
}

li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  color: #111;
  font-size: 100%;
  font-weight: normal;
  line-height: 1em;
  margin-bottom: .5em;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
  font-variant: normal;
}

sup {
  top: -.5em;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
  vertical-align: baseline;
}

legend {
  color: #FFFFFF;
  font-weight: bolder;
  margin: 0 0 0 .6em;
  padding: 0 .3em;
}

input, button, textarea, select, optgroup, option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

input, button, textarea, select {
  font-size: 100%;
}

body {
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  font-size: .8em;
  word-wrap: break-word;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
}

input, textarea {
  background: linear-gradient(#dedede,#ffffff);
  background-color: #dedede;
  border: none;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  color: #000;
  padding: 5px;
}

h1 {
  font-size: 2.5em;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 20px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: .9em;
}

p {
  margin: 1em 0;
}

blockquote {
  border-left: .5em #EEE solid;
  color: #666666;
  margin: 1.2em;
  padding-left: .3em;
}

hr {
  border: 0;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #aaa;
  display: block;
  height: 2px;
  margin: 1em 0;
  padding: 0;
}

pre, code, kbd, samp {
  _font-family: 'courier new', monospace;
  color: #000;
  font-family: monospace, monospace;
  font-size: .98em;
}

pre {
  background-color: #f7f7f7;
  padding: .3em;
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre code {
  border-radius: 3px;
  overflow-x: auto;
  white-space: normal;
}

ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

ul, ol {
  margin: 0;
  padding: 0 0 0 2em;
}

li p:last-child {
  margin: 0;
}

dd {
  margin: 0 0 0 2em;
}

td {
  vertical-align: top;
}

a, .linkdescription a {
  color: #E28E3F;
  transition: all 100ms ease-in-out;
}

.bigbutton {
  background: linear-gradient(#c0c0c0,#ffffff);
  background-color: #c0c0c0;
  border-radius: 3px 3px 3px 3px;
  border-style: outset;
  border-width: 1px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);
  color: #606060;
  cursor: pointer;
  height: 24px;
  margin-left: 5px;
  padding: 0 5px;
}

.smallbutton {
  background: linear-gradient(#c0c0c0,#ffffff);
  background-color: #c0c0c0;
  border-radius: 3px 3px 3px 3px;
  border-style: outset;
  border-width: 1px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.5);
  color: #606060;
  cursor: pointer;
  height: 20px;
  margin-left: 5px;
  padding: 0 5px;
}

.button_edit, .button_delete {
  background: none;
  border-radius: 0;
  border-style: none;
  border-width: 0;
  box-shadow: none;
  padding: 0;
}

.linkeditbuttons {
  background-color: inherit;
  border-radius: 0 6px 6px 0;
  float: right;
  margin-right: .3em;
  padding: 0;
  position: relative;
}

#pageheader #logo {
  background-image: url(../../images/logo.png);
  background-repeat: no-repeat;
  cursor: pointer;
  float: left;
  height: 50px;
  margin: 0 10px;
  width: 105px;
}

#pageheader {
  background: linear-gradient(#333333,#111111);
  background-color: #333333;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  margin: auto;
  padding: 0 0 5px;
  width: auto;
}

#pageheader a {
  background: linear-gradient(#333333,#000000);
  background-color: #333333;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  color: #A2DD42;
  float: left;
  margin: 10px 3px 3px;
  padding: 5px;
  text-decoration: none;
}

#linkcount {
  color: #bbb;
  float: right;
  font-style: italic;
  padding: .5em;
  text-align: right;
}

#toolsdiv a {
  font-weight: bold;
}

#toolsdiv a span {
  color: #ffffff;
  font-weight: normal;
}

.linksperpage, .tagfilter, .searchform, .addform {
  align-content: flex-start;
  align-items: flex-start;
  background: linear-gradient(#dedede,#ffffff);
  background-color: #dedede;
  border: none;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  color: #cecece;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 0;
  padding: .3em;
  text-align: left;
}

.searchform input:nth-child(1), .tagfilter input:nth-child(1), .addform input:nth-child(1) {
  align-self: stretch;
  flex: 1 0 auto;
  order: 1;
}

.searchform input:nth-child(2), .tagfilter input:nth-child(2), .addform input:nth-child(2) {
  align-self: stretch;
  flex: 0 0 20%;
  order: 2;
}

.searchform {
  width: 70%;
}

.tagfilter {
  margin-left: .3em;
  width: 30%;
}

.linksperpage {
  box-shadow: 0 0 0 rgba(0,0,0,0.5);
  padding: 3px;
}

.linksperpage input, .tagfilter input, .searchform input, .addform input {
  background: none;
  border: none;
  box-shadow: none;
  color: #606060;
  padding: 5px;
}

.tagfilter input.bigbutton, .searchform input.bigbutton, .addform input.bigbutton {
  background: linear-gradient(#dedede,#ffffff);
  background-color: #dedede;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  cursor: pointer;
  height: auto;
  margin: 0;
  padding: 0;
}

#shaarli_title {
  font-style: italic;
  font-weight: bold;
  margin-top: 0;
}

#shaarli_title a {
  color: #fff !important;
}

#pageheader a:visited {
  color: #98C943;
  text-decoration: none;
}

#pageheader a:hover {
  color: #FFFFC9;
  text-decoration: none;
}

#pageheader a:active {
  color: #bbb;
  text-decoration: none;
}

#searchcriteria {
  font-weight: bold;
  padding: 4px 0 5px 5px;
}

.paging {
  background-color: #777;
  border-radius: .3em;
  clear: both;
  color: #ccc;
  padding: 5px;
  text-align: center;
}

.paging a:link {
  color: #ccc;
  text-decoration: none;
}

.paging a:visited {
  color: #ccc;
}

.paging a:hover {
  color: #FFFFC9;
}

.paging a:active {
  color: #fff;
}

#paging_privatelinks {
  float: left;
}

#paging_linksperpage {
  float: right;
  padding-right: 5px;
}

.paging_current {
  color: #fff;
  display: inline;
}

#paging_older {
  margin-right: 15px;
}

#paging_newer {
  margin-left: 15px;
}

#headerform {
  clear: both;
  color: #ffffff;
  display: flex;
  margin: auto;
  max-width: 80%;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

#editlinkform {
  clear: left;
  color: #ffffff;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

#editlinkform p {
  margin: .3em 0;
}

#editlinkform a {
  background: none;
  border-radius: none;
  box-shadow: none;
  float: none;
  margin: 0;
  padding: 0;
}

.submitButton {
  text-align: center;
}

.submitButton .bigbutton {
  width: 25%;
}

#linklist, #cloudtag {
  margin: 0 auto;
  max-width: 80%;
  padding: .3em;
}

#linklist li, #linklist li.private {
  background: #fff;
  border: 1px solid #cdcdcd;
  border-radius: .3em;
  clear: both;
  margin: 1em 0;
  padding: .3em;
}

#linklist li.publicLinkHightLight {
  background: #ffffff;
}

#linklist li.private.linkeditbuttons {
  background: url(../../images/private.png) no-repeat 10px center;
  padding: 0 0 0 55px;
}

#linklist li .linkdescription li, .markdownHelp li {
  border: none;
  list-style-position: outside;
  list-style-type: disc;
  margin: 0;
}

#linklist li .linkdescription ol li, .markdownHelp ol li {
  list-style: decimal;
}

#linklist li .linkdescription ol, .markdownHelp ol {
  list-style: decimal outside;
}

.private .linktitle a {
  color: #969696;
}

.linktitle, .linkeditbuttons {
  font-size: 1.6em;
  font-weight: bold;
}

.linktitle a {
  color: #80AD48;
  text-decoration: none;
}

.linkdate a, .linkarchive a {
  color: #E28E3F;
  text-decoration: none;
}

.linkWallabag a {
  background-image: url(../../images/logo_wallabag.png);
  background-repeat: no-repeat;
  color: #E28E3F;
  padding: 2px 0 3px 20px;
  text-decoration: none;
}

.linkarchive a {
  background-image: url(../../images/logo_Archive.org.jpg);
  background-repeat: no-repeat;
  padding: 2px 0 3px 20px;
}

.linkdate a {
  background-image: url(../../images/calendar.png);
  background-repeat: no-repeat;
  padding: 2px 0 3px 20px;
}

.linkurl {
  color: #4BAA74;
  font-size: 8pt;
}

.linkdescription {
  color: #000;
  font-weight: normal;
  margin-bottom: 12px;
  margin-top: 0;
  max-height: 400px;
  overflow: auto;
}

.linkdescription a {
  color: #3465A4;
  text-decoration: none;
}

.linktaglist {
  line-height: 200%;
  padding-top: 10px;
}

.linktag {
  background: linear-gradient(#F2F2F2,#ffffff);
  background-color: #ffffff;
  background-image: url(../../images/tag_blue.png);
  background-position: 3px center;
  background-repeat: no-repeat;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 2px rgba(0,0,0,0.5);
  cursor: pointer;
  font-size: 9pt;
  height: 20px;
  padding: 3px 3px 3px 20px;
}

.linktag:hover {
  border-color: #555573;
  color: #000;
}

.linktag a {
  color: #777;
  text-decoration: none;
}

.linkshort a {
  color: #393964;
  text-decoration: none;
}

.linkshort a:hover {
  text-decoration: underline;
}

.markdownHelp {
  background-color: #FFFFFF;
  padding: .3em;
}

.buttoneditform {
  display: inline;
}

#footer {
  clear: both;
  color: #555555;
  font-size: 8pt;
  text-align: center;
}

#footer a {
  color: #486D08;
}

#footer a:hover {
  color: #000000;
}

#newversion {
  background-color: #FFFFA0;
  color: #000;
  font-size: 9pt;
  padding: 2px 7px;
  position: absolute;
  right: 0;
  top: 0;
}

#cloudtag {
  background-color: #ababab;
  border-radius: .3em;
}

#cloudtag > span {
  color: #fff;
  font-size: .9em;
  padding: 0 .3em;
}

#cloudtag a {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

#cloudtag a:hover {
  color: #ffffc9;
  font-weight: bold;
  text-decoration: none;
}

#installform td {
  clear: left;
  color: black;
  font-size: 10pt;
  padding: 10px 5px;
}

.thumbnail {
  float: left;
  margin: 0;
  min-height: 96px;
  min-width: 120px;
  padding: .1em;
}

.thumbnail img {
  background-color: #fff;
  border-radius: .3em;
}

.linkcontainerThumb {
  margin-left: 130px;
}

.favicon {
  height: 16px;
  margin-right: .1em;
  width: 16px;
}

.picwall_container {
  background-color: #000;
  margin: 0 auto;
  padding: 0 6em;
  width: auto;
}

.picwall_pictureframe {
  background-color: #000;
  display: inline-block;
  float: none;
  height: auto;
  min-height: 90px;
  min-width: 120px;
  overflow: hidden;
  padding: .3em;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: auto;
  z-index: 5;
}

.picwall_pictureframe img {
  background-color: #fff;
  border-radius: .1em;
  height: auto;
  max-width: 100%;
}

.picwall_pictureframe a {
  text-decoration: none;
}

.picwall_pictureframe:hover span.info {
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  display: block;
  font-size: 8pt;
  font-weight: bold;
  left: 0;
  padding: .3em;
  position: absolute;
  text-align: center;
  text-shadow: 1px 1px 2px #000000;
  top: 0;
  width: 120px;
}

.ui-autocomplete {
  background-color: #fff;
  padding-left: 5px;
  width: 50px;
}

.ui-state-hover {
  background-color: #604dff;
  color: #fff;
}

.highlight {
  background-color: #FFFF33;
}

#permalinkQrcode {
  background-color: #ffffff;
  border: 1px solid black;
  box-shadow: 2px 2px 20px 2px #333333;
  font-size: 8pt;
  height: 220px;
  left: -100px;
  padding: 20px;
  position: absolute;
  text-align: center;
  top: -100px;
  width: 220px;
  z-index: 50;
}

.daily {
  background-color: #E6D6BE;
  background-image: url(../../images/Paper_texture_v5_by_bashcorpo_w1000.jpg);
  background-size: cover;
  border-bottom: 2px solid black;
  font-family: Georgia, 'DejaVu Serif', Norasi, serif;
  position: relative;
}

#daily_col1 {
  float: left;
  padding-left: 1%;
  position: relative;
  width: 33%;
}

.dailyAbout {
  border: 1px solid black;
  float: left;
  font-size: 8pt;
  left: 10px;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 15px;
}

.dailyAbout a {
  color: #890500;
}

.dailyTitle {
  font-size: 44pt;
  font-weight: bold;
  padding: 10px 20px 0;
  text-align: center;
}

.dailyDate {
  font-size: 12pt;
  font-weight: bold;
  padding: 0 20px 30px;
  text-align: center;
}

.dailyEntry {
  border-top: 1px solid #555;
  font-size: 11pt;
  margin: 5px 10px 2px 5px;
}

.dailyEntry a {
  color: #890500;
  text-decoration: none;
}

.dailyEntryTags {
  font-size: 7.75pt;
}

.dailyEntryTitle {
  font-size: 18pt;
  font-weight: bold;
}

.dailyEntryThumbnail {
  background: url(../../images/50pc_transparent.png);
  background-color: rgb(128,128,128);
  padding: 4px 0 2px;
  text-align: center;
  width: 100%;
}

.dailyEntryDescription {
  margin-bottom: 30px;
  margin-top: 10px;
  overflow: auto;
  text-align: justify;
}

.clearFix {
  clear: both;
  display: block;
  height: 0;
  margin: 0;
  min-height: 1px;
  min-width: 1px;
}

h4, h5, h6, b, strong {
  font-weight: bold;
}

dfn, em, #editlinkform label {
  font-style: italic;
}

a:hover, .linkdescription a:hover, .linktitle a:hover, .linkWallabag a:hover, .linkdate a:hover, .linkarchive a:hover, .linkdescription a:hover {
  color: #F57900;
}

#toolsdiv a, .clear {
  clear: both;
}

.addform, #editlinkform input[type='text'], #editlinkform textarea {
  width: 100%;
}

.linksperpage input, .linkList {
  padding: 0;
}

#toolsdiv, #uploaddiv {
  clear: left;
  color: #ffffff;
  padding: 5px;
}

.linkdate, .linkarchive, .linkWallabag, .linkshort {
  color: #888;
  font-size: 8pt;
}

#changepasswordform, #changetag, #configform {
  clear: left;
  color: #ccc;
  padding: 10px 5px;
}

#configform {
  margin: 0 auto;
  width: 70%;
}

#configform label {
  font-weight: bold;
}

.picwall_pictureframe span.info, .lazyimage {
  display: none;
}

#daily_col2, #daily_col3 {
  float: left;
  position: relative;
  width: 33%;
}

/*
 * Creating Content Tabs with Pure CSS
 * http://www.onextrapixel.com/2013/07/31/creating-content-tabs-with-pure-css/
 */

.tabs input[type=radio] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tabs {
  float: none;
  list-style: none;
  position: relative;
  padding: 0;
}

.tabs li {
  display: block;
}

.tabsLabel {
  background: #333333 linear-gradient(#333333,#000000) repeat scroll 0 0;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  color: #a2dd42;
  display: block;
  font-size: 1.1em;
  cursor: pointer;
  position: relative;
  top: 3px;
  transition: all .2s ease-in-out;
  padding: .3em .6em;
}

.tabsLabel:hover {
  color: #ffffc9;
}

[id^=tab]:checked + .tabsLabel {
  color: #ffffc9;
}

[id^=tab]:checked ~
[id^=tab-content] {
  display: block;
}

.tab-content {
  z-index: 2;
  display: none;
  text-align: left;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  -webkit-animation-duration: .5s;
  -o-animation-duration: .5s;
  -moz-animation-duration: .5s;
  animation-duration: .5s;
  border: 1px solid #ccc;
  border-radius: .3em;
  padding: 15px;
}

@media print {
  html {
    background: #fff !important;
    border: none;
    color: #000 !important;
  }

  body {
    font-size: 12pt;
    margin: auto !important;
    width: auto !important;
  }

  p {
    orphans: 3;
    widows: 3;
  }

  a {
    color: #000 !important;
    text-decoration: none !important;
  }

  #pageheader, .paging, #linklist li form, #footer {
    display: none;
  }

  #linklist li {
    border-top: 2px solid #000;
    clear: both;
    padding: 2px 0 10px;
  }

  #linklist li.private {
    background-color: none;
    border-left: 0;
  }

  .linkdate {
    line-height: 2;
  }

  .linkurl {
    color: #000;
  }

  .linkdescription {
    font-size: 10pt;
  }

  .linktag {
    border: 1px solid black;
    font-size: 8pt;
    font-style: italic;
  }
}

@media handheld, only screen and max-width 480px, only screen and max-device-width 854px {
  #pageheader a {
    border-radius: 5px 5px 5px 5px;
    margin: 3px;
    padding: 5px;
  }

  #headerform {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  .searchform, .tagfilter {
    display: block;
    height: 2em;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .searchform input, .tagfilter input {
    display: inline;
    height: 2em;
    margin: 0;
    padding: .1em;
  }

  .tagfilter input.bigbutton, .searchform input.bigbutton, .addform input.bigbutton {
    font-size: smaller;
    height: 2em;
    width: 30%;
  }

  div.qrcode {
    float: left;
    left: 0;
    position: relative;
    top: -10px;
  }

  #paging_linksperpage {
    float: none;
    font-size: smaller;
    margin-bottom: 10px;
  }

  #paging_older, #paging_newer, #paging_linksperpage a {
    background-color: #666;
    border: 1px solid black;
    border-radius: 5px 5px 5px 5px;
    color: #fff;
    padding: 3px 5px;
  }

  .thumbnail {
    float: none;
    height: auto;
    margin: 0;
    text-align: center;
  }

  #cloudtag {
    padding: 0;
  }

  .dailyAbout {
    clear: both;
    float: none;
    left: 0;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
  }

  #daily_col1, #daily_col2, #daily_col3 {
    float: none;
    padding: 0;
    width: 100%;
  }

  .dailyTitle {
    font-size: 18pt;
    margin-top: 5px;
    padding: 0;
  }

  .dailyDate {
    display: block;
    font-size: 11pt;
    padding: 0;
  }

  .dailyEntryTitle {
    font-size: 16pt;
    font-weight: bold;
  }

  .dailyEntryDescription {
    font-size: 10pt;
  }

  #linklist {
    margin: 0 auto;
    max-width: 100%;
    padding: .3em;
  }

  .linkcontainer {
    margin: 0;
  }

  .nomobile, #logo {
    display: none;
  }

  #searchform_value, #tagfilter_value {
    width: 70%;
  }
}